

  
   
    
   
  
    

    /* .auth-nav-icon:hover,
    .auth-nav-icon:focus {
        fill: $accent-color;
    }  */

    

    
    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        /* outline: 2px solid red; */ 
    }
    

   

   

    
                                
  
        /* FOOTER */
    /* .container{
        display: flex;
        align-items: baseline;
    } */


   

   

    


    

    
/* цвета web color: #2196F3; studio #000000;*/
/* цвет основного текста #000000 */
/* эффективные решения,  цвет color: #FFFFFF; */
/* заказать услугу background: #2196F3; */
/* особенности цвет color: #212121; */
/* телефон, преимущества цвет color: #757575; */
/* заголовки цвет color: #212121; */
/* вторчный фон наша команда background: #F5F4FA; */
/* подвал цвет background: #2F303A; */
/* Roboto 400 500 700  Raleway 700*/