 /* Logo footer */
 .logo-footer{
    color: $primary-white-color;
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-footer:hover{
    color: $accent-color;
}

.logo-footer-address{
    display: block;
    margin-bottom: 20px;
}

/* Address footer */
.footer{
    background-color:$footer-background-color;
}

.page-footer .container{
    display: flex;
    padding-top: 48px;
    padding-bottom: 45px;
}

.address-footer {
    display: block;
    font-style: normal;
    justify-content: space-between;
    align-items: baseline;
}

.contacts-text {
    color: $primary-white-color;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-right: 84px;
    margin-top: 20px;
    align-items: baseline;
}

.contacts-list-item{
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 10px;

    &:hover,
    &:focus{
        color: $accent-color;
    }
    
}





/* Social footer */
.footer-center {
    margin-right: 94px;
}

.footer-center-title {
    margin-top: 12px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: $primary-white-color;
    display: inline-block;
}

.footer-center-list {
    display: flex;
}

.footer-center-item:not(:last-child) {
    margin-right: 10px;
}

.footer-center-item {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-center-social-link {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    background-size: 22px, contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $primary-white-color;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus{
        color: $primary-white-color;
        background-color: $accent-color;
    }
}

.footer-center-social-link-picture {
    width: 20px;
    height: 20px;
}



 
.button-footer{ 
    display: flex;
    color: $primary-white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding-left: 29px; 
    font-weight: bold; 
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    width: 200px;
    height: 50px; 
 } 




.footer-subscribe{ 
    display: block; 
    color: $primary-white-color; 
    background-color:$footer-background-color; 
    font-size: 14px; 
    line-height: 1.14; 
    letter-spacing: 0.03em; 
    margin-right: 94px;
} 

.button-footer .icon-send-svg { 
    margin-left: 10px; 
    background-position: 50% 50%;
} 

.subscribe-input{
    width: 358px;
    height: 50px;
    background-color: $footer-background-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;

    
}

.subscribe-input[placeholder]{
  
    padding-left: 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-block{
    display: flex;
}


