  /* HEADER */
.header{
    border-bottom: 1px solid #ECECEC;
    max-width: 100%;
   
    // .container {
    //     margin-left: auto;
    //     margin-right: auto;
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    // }
    
} 
&-container{
    display: flex;
    align-items: center;
}

&-utilus {
    display: flex;
}

.auth-nav{
    display: none;  
}

.navigation {
    display: none;
    align-items: center;
}


.menu-nav-list {
    display: none;
  
}

.menu-nav-list-item{
    padding-top: 32px;
    padding-bottom: 32px;

    &:not(:last-child) {
    margin-right: 50px;
}

}
.menu-nav-list-item-link {
    color: $primary-title-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    position: relative;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav-list-item-link.current{
 color: $accent-color;

}

 .menu-nav-list-item-link.current::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background:$accent-color;
    border-radius: 2px;
    margin-top: 28px;
    position: absolute;
  
 } 


ul {
    list-style-type: none;
    margin: 0;
}

.menu-nav-list .menu-nav-list-item-link:hover {
    color: $accent-color;
}

.auth-nav-link{
    padding-top: 32px;
    padding-bottom: 32px;
    fill:  $primary-text-color;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    margin-right: 30px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: $accent-color;
        fill: $accent-color;
    }
} 

.auth-nav-icon{
    margin-right: 10px;
    color: $primary-text-color;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,:focus{
        color: $accent-color;
        fill: $accent-color;
    } 
}

