.logo {
    margin-right: 278px;
}
.logo {
    color: #000000 ;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    

    &:hover{
        color: $accent-color;
    }
}

.logo-accent{
    color: $accent-color;
}