
    $main-font: "Roboto", sans-serif;
    $primary-text-color: #757575;
    $primary-title-color: #212121;
    $accent-color: #2196F3;
    $primary-white-color: #ffffff;
    $main-black-color: #000000;
    $secondary-white-color: #F5F4FA;
    $footer-background-color: #2F303A;
    $footer-link-color: rgba(255, 255, 255, 0.1);



